.art-block-footer {
  border:2px solid #666;
  padding:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 7px #666;
  -moz-box-shadow:inset 0 0 7px #666;
  box-shadow:inset 0 0 7px #666;
}

.line-block {
  padding:10px;
  border:1px solid #bbb;
  height:200px;
}

.line-block-plus {
  padding:10px;
  border:1px solid #bbb;
  height:144px;
  background: rgb(228, 228, 228);
}

.line-block-visitor {
  padding:10px;
  border:1px solid #bbb;
  height:200px;
  overflow:auto;
}

.line-block-alexa {
  padding:10px;
  border:1px solid #bbb;
  height:395px;
  background: #545454;
}

#mamas-topik {
  margin-top:30px;
  margin-bottom:5px;
  clear:both;
  display:block;
}

.paling-ganteng {
  border:2px solid #666;
  padding:5px;
  background-color:#efefef;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 7px #666;
  -moz-box-shadow:inset 0 0 7px #666;
  box-shadow:inset 0 0 7px #666;
}

.paling-ganteng:hover {background:#f9f9f9;}

.sedunia {
  padding:10px;
  border:1px solid #bbb;
  height:165px;
  overflow:auto;
}